{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin edit user")}}
	<div class="admin-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.users.edit_account"}}
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="./edit" method="post">
				{{template "base/disable_form_autofill"}}
				{{.CsrfTokenHtml}}
				<div class="field {{if .Err_UserName}}error{{end}}">
					<label for="user_name">{{ctx.Locale.Tr "username"}}</label>
					<input id="user_name" name="user_name" value="{{.User.Name}}" autofocus {{if not .User.IsLocal}}disabled{{end}} maxlength="40">
				</div>
				<!-- Types and name -->
				<div class="inline required field {{if .Err_LoginType}}error{{end}}">
					<label>{{ctx.Locale.Tr "admin.users.auth_source"}}</label>
					<div class="ui selection type dropdown">
						<input type="hidden" id="login_type" name="login_type" value="{{.LoginSource.Type.Int}}-{{.LoginSource.ID}}" required>
						<div class="text">{{ctx.Locale.Tr "admin.users.local"}}</div>
						{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						<div class="menu">
							<div class="item" data-value="0-0">{{ctx.Locale.Tr "admin.users.local"}}</div>
							{{range .Sources}}
								<div class="item" data-value="{{.Type.Int}}-{{.ID}}">{{.Name}}</div>
							{{end}}
						</div>
					</div>
				</div>
				<div class="required non-local field {{if .Err_LoginName}}error{{end}} {{if eq .User.LoginSource 0}}tw-hidden{{end}}">
					<label for="login_name">{{ctx.Locale.Tr "admin.users.auth_login_name"}}</label>
					<input id="login_name" name="login_name" value="{{.User.LoginName}}" autofocus>
				</div>
				<div class="field {{if .Err_FullName}}error{{end}}">
					<label for="full_name">{{ctx.Locale.Tr "settings.full_name"}}</label>
					<input id="full_name" name="full_name" value="{{.User.FullName}}" maxlength="100">
				</div>
				<div class="required field {{if .Err_Email}}error{{end}}">
					<label for="email">{{ctx.Locale.Tr "email"}}</label>
					<input id="email" name="email" type="email" value="{{.User.Email}}" autofocus required>
				</div>
				<div class="local field {{if .Err_Password}}error{{end}} {{if not (or (.User.IsLocal) (.User.IsOAuth2))}}tw-hidden{{end}}">
					<label for="password">{{ctx.Locale.Tr "password"}}</label>
					<input id="password" name="password" type="password" autocomplete="new-password">
					<p class="help">{{ctx.Locale.Tr "admin.users.password_helper"}}</p>
				</div>

				<div class="field {{if .Err_Language}}error{{end}}">
					<label for="language">{{ctx.Locale.Tr "settings.language"}}</label>
					<div class="ui selection dropdown">
						<input name="language" type="hidden" value="{{.User.Language}}">
						{{svg "octicon-triangle-down" 14 "dropdown icon"}}
						<div class="text">{{range .AllLangs}}{{if eq $.User.Language .Lang}}{{.Name}}{{end}}{{end}}</div>
						<div class="menu">
						{{range .AllLangs}}
							<div class="item{{if eq $.User.Language .Lang}} active selected{{end}}" data-value="{{.Lang}}">{{.Name}}</div>
						{{end}}
						</div>
					</div>
				</div>

				<div class="field {{if .Err_Website}}error{{end}}">
					<label for="website">{{ctx.Locale.Tr "settings.website"}}</label>
					<input id="website" name="website" type="url" value="{{.User.Website}}" placeholder="http://mydomain.com or https://mydomain.com" maxlength="255">
				</div>
				<div class="field {{if .Err_Location}}error{{end}}">
					<label for="location">{{ctx.Locale.Tr "settings.location"}}</label>
					<input id="location" name="location" value="{{.User.Location}}" maxlength="50">
				</div>

				<div class="divider"></div>

				<div class="inline field">
					<div class="ui checkbox">
						<label><strong>{{ctx.Locale.Tr "admin.users.is_activated"}}</strong></label>
						<input name="active" type="checkbox" {{if .User.IsActive}}checked{{end}}>
					</div>
				</div>
				<div class="inline field">
					<div class="ui checkbox">
						<label><strong>{{ctx.Locale.Tr "admin.users.prohibit_login"}}</strong></label>
						<input name="prohibit_login" type="checkbox" {{if .User.ProhibitLogin}}checked{{end}} {{if (eq .User.ID .SignedUserID)}}disabled{{end}}>
					</div>
				</div>
				<div class="inline field">
					<div class="ui checkbox">
						<label><strong>{{ctx.Locale.Tr "admin.users.is_admin"}}</strong></label>
						<input name="admin" type="checkbox" {{if .User.IsAdmin}}checked{{end}}>
					</div>
				</div>

				{{if .TwoFactorEnabled}}
				<div class="divider"></div>
				<div class="inline field">
					<div class="ui checkbox">
						<label><strong>{{ctx.Locale.Tr "admin.users.reset_2fa"}}</strong></label>
						<input name="reset_2fa" type="checkbox">
					</div>
				</div>
				{{end}}

				<div class="divider"></div>

				<div class="field">
					<button class="ui primary button">{{ctx.Locale.Tr "admin.users.update_profile"}}</button>
					<button class="ui red button show-modal" data-modal="#delete-user-modal">{{ctx.Locale.Tr "admin.users.delete_account"}}</button>
				</div>
			</form>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "settings.avatar"}}
		</h4>
		<div class="ui attached segment">
			<form class="ui form" action="./avatar" method="post" enctype="multipart/form-data">
				{{.CsrfTokenHtml}}
				{{if not .DisableGravatar}}
				<div class="inline field">
					<div class="ui radio checkbox">
						<input name="source" value="lookup" type="radio" {{if not .User.UseCustomAvatar}}checked{{end}}>
						<label>{{ctx.Locale.Tr "settings.lookup_avatar_by_mail"}}</label>
					</div>
				</div>
				<div class="field tw-pl-4 {{if .Err_Gravatar}}error{{end}}">
					<label for="gravatar">Avatar {{ctx.Locale.Tr "email"}}</label>
					<input id="gravatar" name="gravatar" value="{{.User.AvatarEmail}}">
				</div>
				{{end}}

				<div class="inline field">
					<div class="ui radio checkbox">
						<input name="source" value="local" type="radio" {{if .User.UseCustomAvatar}}checked{{end}}>
						<label>{{ctx.Locale.Tr "settings.enable_custom_avatar"}}</label>
					</div>
				</div>

				<div class="inline field tw-pl-4">
					<label for="avatar">{{ctx.Locale.Tr "settings.choose_new_avatar"}}</label>
					<input name="avatar" type="file" accept="image/png,image/jpeg,image/gif,image/webp">
				</div>

				<div class="field">
					<button class="ui primary button">{{ctx.Locale.Tr "settings.update_avatar"}}</button>
					<button class="ui red button link-action" data-url="./avatar/delete">{{ctx.Locale.Tr "settings.delete_current_avatar"}}</button>
				</div>
			</form>
		</div>
	</div>

<div class="ui g-modal-confirm delete modal" id="delete-user-modal">
	<div class="header">
		{{svg "octicon-trash"}}
		{{ctx.Locale.Tr "settings.delete_account_title"}}
	</div>
	<form class="ui form" method="post" action="./delete">
		<div class="content">
			<p>{{ctx.Locale.Tr "settings.delete_account_desc"}}</p>
			{{$.CsrfTokenHtml}}
			<div class="field">
				<div class="ui checkbox">
					<label for="purge">{{ctx.Locale.Tr "admin.users.purge"}}</label>
					<input name="purge" type="checkbox">
				</div>
				<p class="help">{{ctx.Locale.Tr "admin.users.purge_help"}}</p>
			</div>
		</div>
		{{template "base/modal_actions_confirm" .}}
	</form>
</div>

{{template "admin/layout_footer" .}}
