{{$isNew:=or .PageIsSettingsHooksNew .PageIsAdminDefaultHooksNew .PageIsAdminSystemHooksNew}}
<div class="field">
	<h4>{{ctx.Locale.Tr "repo.settings.event_desc"}}</h4>
	<div class="grouped event type fields">
		<div class="field">
			<div class="ui radio non-events checkbox">
				<input name="events" type="radio" value="send_everything" {{if .Webhook.SendEverything}}checked{{end}}>
				<label>{{ctx.Locale.Tr "repo.settings.event_send_everything"}}</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio events checkbox">
				<input name="events" type="radio" value="choose_events" {{if .Webhook.ChooseEvents}}checked{{end}}>
				<label>{{ctx.Locale.Tr "repo.settings.event_choose"}}</label>
			</div>
		</div>
	</div>

	<div class="events fields ui grid {{if not .Webhook.ChooseEvents}}tw-hidden{{end}}">
		<!-- Repository Events -->
		<div class="fourteen wide column">
			<label>{{ctx.Locale.Tr "repo.settings.event_header_repository"}}</label>
		</div>
		<!-- Repository -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input name="repository" type="checkbox" {{if .Webhook.Repository}}checked{{end}}>
					<label>{{ctx.Locale.Tr "repo.settings.event_repository"}}</label>
					<span class="help">{{ctx.Locale.Tr "repo.settings.event_repository_desc"}}</span>
				</div>
			</div>
		</div>
		<!-- Package -->
		<div class="seven wide column">
			<div class="field">
				<div class="ui checkbox">
					<input name="package" type="checkbox" {{if .Webhook.Package}}checked{{end}}>
					<label>{{ctx.Locale.Tr "repo.settings.event_package"}}</label>
					<span class="help">{{ctx.Locale.Tr "repo.settings.event_package_desc"}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Authorization Header -->
<div class="field{{if eq .HookType "matrix"}} required{{end}}">
	<label for="authorization_header">{{ctx.Locale.Tr "repo.settings.authorization_header"}}</label>
	<input id="authorization_header" name="authorization_header" type="text" value="{{.Webhook.HeaderAuthorization}}"{{if eq .HookType "matrix"}} placeholder="Bearer $access_token" required{{end}}>
	{{if ne .HookType "matrix"}}{{/* Matrix doesn't make the authorization optional but it is implied by the help string, should be changed.*/}}
		<span class="help">{{ctx.Locale.Tr "repo.settings.authorization_header_desc" ("<code>Bearer token123456</code>, <code>Basic YWxhZGRpbjpvcGVuc2VzYW1l</code>" | SafeHTML)}}</span>
	{{end}}
</div>

<div class="divider"></div>

<div class="inline field">
	<div class="ui checkbox">
		<input name="active" type="checkbox" {{if or $isNew .Webhook.IsActive}}checked{{end}}>
		<label>{{ctx.Locale.Tr "repo.settings.active"}}</label>
		<span class="help">{{ctx.Locale.Tr "repo.settings.active_helper"}}</span>
	</div>
</div>
<div class="field">
	{{if $isNew}}
		<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.add_webhook"}}</button>
	{{else}}
		<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.update_webhook"}}</button>
		<a class="ui red delete-button button" data-url="{{.BaseLink}}/delete" data-id="{{.Webhook.ID}}">{{ctx.Locale.Tr "repo.settings.delete_webhook"}}</a>
	{{end}}
</div>

{{template "repo/settings/webhook/delete_modal" .}}
