<div class="flex-container-nav">
	<div class="ui fluid vertical menu">
		<div class="header item">{{ctx.Locale.Tr "user.settings"}}</div>
		<a class="{{if .PageIsSettingsProfile}}active {{end}}item" href="{{AppSubUrl}}/user/settings">
			{{ctx.Locale.Tr "settings.profile"}}
		</a>
		{{if not (and ($.UserDisabledFeatures.Contains "manage_credentials" "deletion") (not $.EnableNotifyMail))}}
		<a class="{{if .PageIsSettingsAccount}}active {{end}}item" href="{{AppSubUrl}}/user/settings/account">
			{{ctx.Locale.Tr "settings.account"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsAppearance}}active {{end}}item" href="{{AppSubUrl}}/user/settings/appearance">
			{{ctx.Locale.Tr "settings.appearance"}}
		</a>
		{{if not ($.UserDisabledFeatures.Contains "manage_mfa" "manage_credentials")}}
		<a class="{{if .PageIsSettingsSecurity}}active {{end}}item" href="{{AppSubUrl}}/user/settings/security">
			{{ctx.Locale.Tr "settings.security"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsApplications}}active {{end}}item" href="{{AppSubUrl}}/user/settings/applications">
			{{ctx.Locale.Tr "settings.applications"}}
		</a>
		{{if .EnablePackages}}
		<a class="{{if .PageIsSettingsPackages}}active {{end}}item" href="{{AppSubUrl}}/user/settings/packages">
			{{ctx.Locale.Tr "packages.title"}}
		</a>
		{{end}}
		{{if not DisableWebhooks}}
		<a class="{{if .PageIsSettingsHooks}}active {{end}}item" href="{{AppSubUrl}}/user/settings/hooks">
			{{ctx.Locale.Tr "repo.settings.hooks"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsRepos}}active {{end}}item" href="{{AppSubUrl}}/user/settings/repos">
			{{ctx.Locale.Tr "settings.repos"}}
		</a>
	</div>
</div>
