{{with .ContextUser}}
	<div class="ui container">
		<div class="ui vertically grid head">
			<div class="column">
				<div class="ui header tw-flex tw-items-center tw-break-anywhere">
					{{ctx.AvatarUtils.Avatar . 100}}
					<span class="text grey"><a class="muted" href="{{.HomeLink}}">{{.DisplayName}}</a></span>
				</div>
			</div>
		</div>
	</div>
{{end}}
