<overflow-menu class="ui secondary pointing tabular borderless menu">
	<div class="overflow-menu-items">
		{{if and .HasProfileReadme .ContextUser.IsIndividual}}
		<a class="{{if eq .TabName "overview"}}active {{end}}item" href="{{.ContextUser.HomeLink}}?tab=overview">
			{{svg "octicon-info"}} {{ctx.Locale.Tr "user.overview"}}
		</a>
		{{end}}
		<a class="{{if eq .TabName "repositories"}}active {{end}} item" href="{{.ContextUser.HomeLink}}?tab=repositories">
			{{svg "octicon-repo"}} {{ctx.Locale.Tr "user.repositories"}}
			{{if .RepoCount}}
				<div class="ui small label">{{.RepoCount}}</div>
			{{end}}
		</a>
		{{if and .IsPackageEnabled (or .ContextUser.IsIndividual .CanReadPackages)}}
			<a href="{{.ContextUser.HomeLink}}/-/packages" class="{{if .IsPackagesPage}}active {{end}}item">
				{{svg "octicon-package"}} {{ctx.Locale.Tr "packages.title"}}
			</a>
		{{end}}
	</div>
</overflow-menu>
